
<div id="buttonRetour">
  <a href="/osticket/upload/scp/pret.php" class="btn btn-primary btn-lg no-pjax"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>
<div class="col-md-12 infos">
<!--<img src=".\image\test.jpg" id="test" width="300" height="200" align="right"/>-->

        <div id="info" class="block">

            <p>
            <b>Designation :</b> {{stock.designation}}
            </p>
            <p>
            <b>Marque :</b> {{stock.marque}}
            </p>
            <p>
            <b>Categorie :</b> {{stock.categorie}}
            </p>
            <p>
            <b>Numero :</b> {{stock.numserie}}
            </p>
            <div ng-cloak class="disponibilite">
              <md-switch ng-disabled="stock.dispo" aria-label="Disabled active switch" ng-model="data.cb1" ng-change="setMessage()">
                {{message}}
              </md-switch>
            </div>


<!-- ############################################################################################## -->
        </div>
            <!--<div id="buttonInfo">
            <b>Modifier les infos du Materiel :</b>
            <button class="btn-warning" ng-click="displayInfo()">
                <span class="glyphicon glyphicon-refresh : addInfo"></span>
            </button>
          </div>-->
<!-- ############################################################################################## -->

    <!--<form action="envoi_info.php" method="post" novalidate class="simple-form" ng-show="addForm">
        <fieldset>
            <legend>Info du materiel : </legend>
            <label>Designation : <input type="text" name="designation" ng-model="stock.designation" /></label>
            <label>Marque : <input type="text" name="marque" ng-model="stock.marque" /></label>
            <label>Categorie : <input type="text" name="categorie" ng-model="stock.categorie" /></label>
            <label>Numero : <input type="text" name="numserie" ng-model="stock.numserie" /></label>
            <input type="button" ng-click="reset()" class="reset" value="Reinitialiser" />
            <input type="submit" ng-click="update(stock)" class="valid" value="Valider" />
        </fieldset>
    </form>-->
</div>
<div class="col-md-12 historiques">

  <div id="buttonHisto">
          <b>Ajouter un Historique :</b>
          <button class="btn-warning" ng-click="displayHisto()">                  <!-- Ajout du boutton d'ajout d'historique -->
              <span ng-class="{'glyphicon glyphicon-plus' : !addForm2,'glyphicon glyphicon-minus' : addForm2}"></span>
          </button>
  </div>
<!-- ############################################################################################## -->


  <form  method="post" novalidate class="block simple-form" ng-show="addForm2" style="background-color:white">
      <fieldset>
          <legend>Info de l'historique : </legend>
      <!--    <label>Id historique : <input type="text" ng-model="id_histo" /></label> -->
          <label class="col-md-12"><span class="col-md-2">Organisation : </span><input type="text" name="org" class="col-md-10" ng-model="org" /></label>
          <label class="col-md-12"><span class="col-md-2">Destinataire : </span><input type="text" name="destinataire" class="col-md-10" ng-model="destinataire" /></label>
          <label class="col-md-12"><span class="col-md-2">Initiale du Technicien : </span><input type="text" name="visa" class="col-md-10" ng-model="visa" /></label><!-- Valeurs a modifier dans le formulaire Histo -->
          <label class="col-md-12"><span class="col-md-2">Raison du Pret : </span><input type="text" name="raison" class="col-md-10" ng-model="raison" /></label>
          <label class="col-md-12"><span class="col-md-2">Date : </span><md-datepicker ng-model="date" type="date" name="date" md-placeholder="Enter date"></md-datepicker></label>
          <div class="col-md-12">
            <button ng-click="clear()" class="btn btn-danger pull-right" value="Effacer">Effacer</button>
            <button ng-click="addHisto()" class="btn btn-success pull-right" value="Valider">Valider</button>
          </div>
      </fieldset>
  </form>

  <div id="historique" ng-repeat="historique in historiques">
          <div id="titre" ng-class="{ 'dispo': !stock.dispo && historique == historiques[0] , 'nonDispo': stock.dispo}">
              <h4>Historique</h4>
              <button ng-click="printHistorique(historique)" class="printHistorique btn btn-primary"><span class="glyphicon glyphicon-print"></span></button>
          </div>
          <div id="historique1">

              <p>
              <b>Organisation :</b> {{historique.org}}
              </p>
              <p>
              <b>Destinataire : </b>{{historique.destinataire}}
              </p>
              <p>
              <b>Visa du technicien :</b> {{historique.visa}}
              </p>
          </div>

          <div id="historique2">
              <p>
              <b>Raison du Pret:</b> {{historique.raison}}
              </p>
              <p>
              <b>Date du pret:</b> {{historique.date | date:"dd/MM/yyyy"}}
              </p>
              <p>
              </p>
          </div>

  </div>

</div>


<script src="osTicket/upload/scp/js/docxtemplater.js"></script>
<script src="osTicket/upload/scp/js/jszip.js"></script>
<script src="osTicket/upload/scp/js/file-saver.min.js"></script>
<script src="osTicket/upload/scp/js/jszip-utils.js"></script>
