body{
  top: 0px !important;
}

h1 {
    color: #5D4037;
    margin-top :1px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0px;
}

.md-datepicker-button.md-icon-button.md-button.md-ink-ripple{
  margin: -10px !important;
  padding: 0px !important;
}

.btn.btn-success.pull-right{
  margin-right: 15px;
}

.printHistorique{
  position: absolute;
  right: 15px;
  top: 5px;
}

#titre_general{
    box-shadow: 0px 3px 20px 0px #656565;
    background-color: #2ECC71;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 50px;
}


#test{
    float: left;
    width: 400px; /* largeur en pixel de ta photo */
    height:300px; /* hauteur en pixel de ta photo */
    margin-right: 60px;
    margin-bottom: 30px;
}

/*#info{
    font-size: large;
    box-shadow: 0px 3px 20px 0px #656565;
    border-radius: 3px;
    background-color: whitesmoke;
    margin-top: 98px;
    margin-bottom: 20px;
}*/

#titre{
  text-align: center;
  padding: 2px;
  background-color: gray;
  box-shadow: 0px 2px 3px -1px #656565;
  display: table-caption;
}

#titre.dispo{
  background-color: #2ECC71;
}

#historique{
    box-shadow: 0px 3px 20px 0px #656565;
    margin-top: 30px;
    border-radius: 3px;
    background-color: white;
    display: table;
    width: 100%;
    position: relative;
}

#historique:last-child{
  margin-bottom: 30px;
}

#historique1{
  font-size: 14px;
  margin-left: 15px;
  width: 50%;
  display: table-cell;
  vertical-align: top;
}


#historique2{
  font-size: 14px;
  display: inline-block;
  display: table-cell;
  vertical-align: top;
}

#buttonInfo{
    float:right;
    margin-left: 150px;
    margin-bottom: 15px;
    font-size: 20px;
}

.infos{
  padding:0px;
}

.historiques{
  padding: 0px;
}

#buttonHisto{
    font-size: 15px;
}

label{
    display: inline-block;
    margin-bottom: 20px;
}


.valid {
    margin-right: 90px;


}

.reset {
    margin-right: 10px;
}

.btn.btn-primary{
  margin-bottom: 15px;
}

fieldset {
    display: inline-block;
    width: 100%;
}

.inset{
  width: 145px;
  margin: 0 auto
}
